<h2><%= @contributor.name %></h2>
<h3><%= @contributor.email %></h3>
<h3>money <%= @contributor.money %></h3>
<h5><%=link_to "Add Money", add_path  %></h5>


<% @causes.each do |cause| %>
<p><%= link_to cause.name %></p>
<% end %>


<h3>Top Non-Profits:</h3>
<% counter = 0 %>
<% until counter == 5 %>
<p><%= link_to "#{NonProfit.all[counter].name}", "/non_profits/#{counter+1}"%></p>
<% counter +=1 %>
<% end %>
