<!-- <!DOCTYPE html>
<html>
  <head>
    <title>CharityApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html> -->


<!DOCTYPE html>
<html>

  <body>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>

    </button>
      <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
      <% if !logged_in? %>
        <%= link_to "Sign up", new_contributor_path, class: "navbar-brand"  %>
        <%= link_to "Sign in", login_path, class: "navbar-brand"  %>
      <% end %>

    </div>

  </body>
</html>
